.header-box {
    display: inline-flex;
    align-items: center;
}

.header-box-item {
    height: 50px;
}

.button-google {
    display: inline-block;
    background-color: skyblue;
    margin-right: 10px;
    margin-left: 10px;
    padding: 3px;
}

.button-facebook {
    display: inline-block;
    background-color: blue;
    margin-right: 10px;
    margin-left: 10px;
    padding: 3px;
}

.button-img {
    height: 50px;
}

.terms-and-conditions {
    display: inline;
    vertical-align: bottom;
}